@model LancamentoFinanceiro.Business.Models.Lancamento

@{
    ViewData["Title"] = "Detalhe";
}

<div>
    <h4>Detalhe Lançamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Data Lançamento")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)

        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Tipo)*@
            <select asp-for="Tipo" class="form-control" asp-items="ViewBag.TipoId" style="width: 25%;" disabled></select>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Status)*@
            <select asp-for="Status" class="form-control" asp-items="ViewBag.StatusId" style="width: 25%;" disabled></select>
        </dd>
    </dl>
</div>
<div>
    @if (Model.Status == 2)
    {
        <a href="" class="conciliado">Editar</a>
    }
    else
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-secondary" })
    }
    |  <a asp-action="Index">Voltar</a>
</div>
