@model IEnumerable<LancamentoFinanceiro.Web.Models.BalancoDia>

@{
    ViewData["Title"] = "BalancoDoDia";
}

<h1>Balanço do dia</h1>

@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger" role="alert">
        Ops! ocorreu um erro, tente novamente!
    </div>

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" id="data" name="data" value="3487">
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Data do Balanço")
            </th>
            <th>
                @Html.DisplayName("Valor Total Crédito")
            </th>
            <th>
                @Html.DisplayName("Valor Total Débito")
            </th>
            <th>
                @Html.DisplayName("Valor Saldo")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (!item.Totalizacao)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatadoBalanco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotalCredito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotalDebito)
                    </td>
                    <td>
                        <span>--</span>
                    </td>

                </tr>
            }

            else
            {
                <tr class="table-primary">
                    <td>
                        <span>Valor Saldo</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotalCredito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotalDebito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorSaldo)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
